/*footer*/

@media(max-width: 576px){
  .page-footer .btn{
    padding: 0 0.5em;
  }
  .newsletter{
    padding-bottom: 1em;
  }
}

/*header*/

@media(max-width: 1200px){
  .logo{
    display: inline-block;
    text-align: center;
    margin: auto;
    align-items: center;
    padding-bottom: 0.5em;
  }
  .header-navbar{
    display: inline-block;
    margin-top: 2em;
  }
  .nav-flex-icons{
    padding-left: 1em;
    display: flex;
    flex-direction: row;
  }
}

@media(max-width: 768px){

  #navbarSupportedContent{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}


@media(max-width: 430px){
  #nav-bar .navbar-expand{
    flex-wrap: wrap;
  }
}


/*najlepsie prodruckty*/

@media(max-width: 500px) {
  .products .menu-products{
    flex-flow: column nowrap;
  }
  .menu-products li:first-child{
    border-bottom: 1px solid $color-border;
    border-right: none;

  }
  .menu-products li{
    margin-right: auto;
    margin-left: auto;

  }

}


@media(max-width: 575px) {
.prev{
  left: 7%;
}
  .next{
    left: 90%;
  }

}


/*email-footer*/

@media(max-width: 576px){
  .page-footer .btn{
    padding: 0 0.5em;
  }
}
@media(max-width: 350px){
  .footer-newsletter h3{
    font-size: em(20);
  }
  .page-footer .form-control,
  .page-footer .btn{
    font-size: em(16);
  }

}
