//
//	VARIABLES
// ------------------------------------------------------

/*$font-size-base: 100%;
$font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;*/


$color-text:  #000000;
$color-bg-body: #fff;
$color-hover: #5E5E5E;
$color-search: #041E42;
$color-header-border-b: #DFEAF8;
$color-text-p: #5A5A5A;
$color-border: #041E42;
$color-text-hover: #95999c;
$bg-footer: #000000;
$color-text-footer:#fff;
$color-footer-btn: #323232;
$color-bg: #262626;
$border-btn: #3190CF;
$color-border-footer:#fff;




$animation-speed: .25s;


